{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <br>
    <h1>
        Вітаємо на нашому сайті!
    </h1><br>
    <h1 class="alert alert-secondary mt-2">
        Тут ви можете знайти або створити власні статистичні таблиці про якусь з країн, вести дослідження і спостерігати за зміною даних кожного року. Маю надію, що вам сподобається функціонал даного сайту і ви порекомендуєте його іншим.<br>
        Хвилинка гумору: Є такий цікавий жарт «99% помилок компютера сидить десь за півметра від монітору». І нажаль це дуууууууже правдивий жарт, майже правило, а не жарт;).
        <h2>
            Адміністрація
        </h2>
    </h1>
{% endblock %}
